BasedOnStyle: Google
Standard: c++20

UseTab: Never
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
ColumnLimit: 120
NamespaceIndentation: None

DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Attach
SpacesInAngles: Never
SpaceBeforeParens: ControlStatements

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never

AlwaysBreakTemplateDeclarations: Yes

InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 1

SortIncludes: CaseSensitive
IncludeIsMainRegex: ''
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 2
  - Regex: '^<.*'
    Priority: 1
  - Regex: '^".*'
    Priority: 3
  - Regex: '.*'
    Priority: 4
